body{
	display: flex;
	justify-content: center;
	width: 100vw;
}
#headDiv{
	width: 90vw;
	height: 10vh;
	border-radius: 20px;
	background-color: blue;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
a{
	color: white;
}
