#fullContainer{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}
.divs{
	display: flex;
	flex-flow: row  nowrap;
	justify-content: center;
	align-items: center;
}
.content{	
	width: 40vw;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding: 5px;
}
p{
	background-color: #c44b4b;
	border-radius: 20px;
	font-family: "EB Garamond";
}
input{
	border-radius: 8px;
}
#checkButton{
	width: 80vw;
	height: auto;
	padding: 5px;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: black;
  height: 1px;
  width: 60vw;
}
#inputDiv{
	display: flex;
	justify-content: center;
}
